.background-container {
  background-image: url('https://res.cloudinary.com/creek-finder/image/upload/v1625398560/backgrounds/login_background_mviink.jpg');
  padding-bottom: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.button {
  width: 100px;
  height: 30px;
  background-color: var(--color-orange);
  border-radius: 4px;
  border: solid 1px var(--color-blue-dark);
  color: var(--color-blue-dark);
  

  &:hover {
    background-color: var(--color-light-orange);
  }
}
