//@import './assets/fonts/icons/style.scss';

@font-face {
  font-family: 'lato';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf'); //, url('./assets/fonts/Lato/Lato-Bold.ttf'),
  // url('./assets/fonts/Lato/Lato-Italic.ttf');
}

@font-face {
  font-family: 'lullabies';
  src: url('./assets/fonts/Lullabies/Lullabies-Reg.ttf');
}

@font-face {
  font-family: 'exo';
  src: urt('./assets/fonts/Exo/Exo-ExtraBold.ttf');
}

:root {
  --color-light-orange: #ffeccc;
  --color-orange: #fddfa6;
  --color-orange-dark: #ffb833;
  --color-green-light: #c1fcf9;
  --color-green: #7df3ed;
  --color-green-transparent: #7df3edd3;
  --color-blue: #5ac5ff;
  --color-blue-sea: #91d3f3;
  --color-blue-dark: #2278b9;
  --color-blue-logo: #003f6d;
  --color-warm-white: #fff9f2;
  --color-white: #ffffff;
  --color-light-gray: #b4b2c9;
  --color-gray: #676672;
  --color-light-black: #202020;
  --color-black: #000000;
  --color-transparent-white: rgba(255, 255, 255, 0.8);
  --color-red-heart: rgb(255, 103, 103);
}

.app {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'lato';
}

p {
  margin: 0;
  padding: 0;
}
