input {
  margin: 5px;
}

.form-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  // height: 90vh;


  &__box {
    margin-top: 80px;
    border: 2px solid rgb(169, 169, 169);
    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 20%;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__img {
    width: 300px;
    border-radius: 50%;
  }

  &__input {
    border: 1px solid var(--color-blue-logo);
    margin-bottom: 20px;
    border-radius: 5px;
    color: var(--color-blue-logo);

    &::placeholder {
      color: var(--color-light-gray);
    }
  }

  &__button {
    background-color: transparent;
    color: var(--color-blue-logo);
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--color-blue-logo);

    &:hover {
      background-color: var(--color-blue-logo);
      color: var(--color-green);
    }
  }

  input[type='file'] {
    display: none;
  }

  &__input-file {
    border: 1px solid var(--color-blue-logo);
    border-radius: 10px;
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-green-light);
    }
  }

  &__name {
    color: var(--color-blue-logo);
  }
}
